.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000, 0.6);
  z-index: 100;
}

.container {
  width: 90%;
  max-width: 60rem;
  height: 90%;
  max-height: 30rem;
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-black);
  box-shadow: rgba(var(--orange-rgb), 0.5) 0px 0px 5px 5px;
  z-index: 200;
  overflow: hidden;
}
