.transaction_form_container {
  position: relative;

  .btn {
    background-color: var(--orange);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 1rem;
    cursor: pointer;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 600px) {
      padding: 0.5rem;
      cursor: default;
    }

    span {
      font-size: 1.5rem;
      font-weight: 700;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    svg {
      display: none;

      @media screen and (max-width: 600px) {
        display: block;
        font-size: 2.5rem;
      }
    }
  }
}

.transaction_form {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_heading {
    text-align: center;
    color: var(--orange);
    margin-bottom: 2rem;
  }

  &_field {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 600px) {
        font-size: 1.3rem;
      }
    }

    input {
      font: inherit;
      font-size: 1.6rem;
      height: 3.5rem;
      padding: 0 0.5rem;
      border: 2px solid var(--orange);
      border-radius: 3px;

      &:focus {
        outline: 4px solid rgba(var(--orange-rgb), 0.5);
      }
    }
  }

  &_actions {
    display: flex;
    justify-content: center;

    div {
      margin: 0 1rem;
      border-color: var(--white);
    }

    button {
      margin: 0 1rem;
      color: var(--orange);

      &:hover {
        @media screen and (min-width: 600px) {
          background-color: var(--white);
        }
      }
    }
  }
}
