header {
  background-color: var(--color-nav);
  box-shadow: var(--nav-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  nav {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      height: 6rem;
    }

    .logo {
      color: var(--color-primary);
      display: flex;

      @media screen and (max-width: 600px) {
        cursor: default;
      }

      svg {
        font-size: 5rem;

        @media screen and (max-width: 600px) {
          font-size: 3.5rem;
        }
      }
    }

    .nav_list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_item {
        font-weight: 700;

        &:not(:last-child) {
          margin-right: 2rem;
        }

        &_username {
          font-size: 1.5rem;
          color: var(--color-primary);

          @media screen and (max-width: 600px) {
            font-size: 1.3rem;
          }

          span {
            color: var(--color-black);
            margin-right: 0.6rem;
          }
        }

        .mode {
          font-size: 2.4rem;
          padding: 0.6rem 0.8rem;
          display: flex;

          @media screen and (max-width: 600px) {
            font-size: 2rem;
            padding: 0.4rem 0.8rem;
          }
        }
      }
    }
  }
}
