header {
  background-color: var(--light-black);

  nav {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      height: 6rem;
    }

    .logo {
      display: flex;

      @media screen and (max-width: 600px) {
        cursor: default;
      }

      svg {
        font-size: 5rem;
        color: var(--orange);

        @media screen and (max-width: 600px) {
          font-size: 3.5rem;
        }
      }
    }

    .nav_list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_item {
        font-weight: 700;

        &:first-child {
          margin-right: 2rem;
        }

        &_name {
          font-size: 1.5rem;
          color: var(--orange);

          @media screen and (max-width: 600px) {
            font-size: 1.3rem;
          }

          span {
            color: var(--white);
            margin-right: 6px;
          }
        }
      }
    }
  }
}
