main {
  .heading {
    text-align: center;
    color: var(--orange);
    margin: 2rem 0;
  }

  .signup_form {
    background-color: var(--light-black);
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.5rem;

    &_field {
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      input {
        font: inherit;
        font-size: 1.6rem;
        height: 3.5rem;
        padding: 0 0.5rem;
        border: 2px solid var(--orange);
        border-radius: 3px;

        &:focus {
          outline: 4px solid rgba(var(--orange-rgb), 0.5);
        }
      }
    }

    button {
      margin: 0 auto;
    }
  }

  .paragraph {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin: 3rem 0;

    a {
      color: var(--orange);
    }
  }
}
