/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* CSS Variables */
:root {
  --orange: #fa8142;
  --orange-rgb: 250, 129, 66;
  --white: #fff;
  --gray: #dddcdc;
  --black: #12181b;
  --light-black: #2a2e35;
}

/* Global Styling */
::selection {
  background-color: var(--orange);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--black);
  color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 150rem;
  margin: 0 auto;
}

.btn {
  font: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--orange);
  padding: 0.6rem 1.8rem;
  display: block;
  transition: all 200ms ease-in-out;

  @media screen and (min-width: 600px) {
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    font-size: 1.3rem;
    padding: 0.4rem 1.6rem;
    cursor: default;
  }

  &:hover {
    @media screen and (min-width: 600px) {
      background-color: var(--orange);
    }
  }
}

.error {
  text-align: center;
  font-size: 1.5rem;
  margin: 2.5rem 0;
}
